.logoRow {
  display: flex;
  align-items: center;
  width: max-content;
}

.slideLeft {
  animation: slideLeft linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .logoRow {
    gap: 1rem;
  }
}

@media (min-width: 769px) {
  .logoRow {
    gap: 2rem;
  }
}
